<!DOCTYPE html>
<html ng-app="festiveApp">
<head>
    <title>Tyohar Wale</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link type="text/css" rel="stylesheet" href="/resources/external/css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="/resources/external/css/style.css"/>
    <script src="/resources/external/js/angular.min.js"></script>
    <script src="/resources/external/js/angular-route.min.js"></script>
    <script src="/resources/external/js/angular-touch.min.js"></script>

    <script src="/resources/js/festiveApp.js"></script>
</head>

<body ng-controller="IndexController">
    <div class="customNavBar">

        <div class="container">
            <div class="row">
                <div class="col-xs-7">
                    <div class="navbar-brand" ng-click="moveToHome()">Tyohar Wale
                    </div>
                </div>

                <div class="col-xs-5 glyphContainer">
                    <div ng-click="handleUserGlyphClick()">
                        <span class="glyphicon glyphicon-user"></span>

                        <div class="dropdownContainer" ng-class="{'noHeight' : !isUserContextMenuOpen()}">
                            <ul class="dropdown-menu" ng-class="{'noHeight' : !isUserContextMenuOpen()}">
                                <li><a class="noHover" ng-bind="getUserName()">{{getUserName()</a></li>
                                <li><a ng-click="myOrders()">Orders</a></li>
                                <li ng-click="logoutUser($event)"><a>Logout</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="badgeContainer" ng-click="openCart()">
                        <span class="glyphicon glyphicon-shopping-cart"></span>
                        <span class="badge" id="cartItems" ng-show="itemsInCart > 0" ng-bind="itemsInCart"></span>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div ng-view>

    </div>

    <div id="overlay">
        <div id="modalContent" ng-class="{'medium' : isLoginDialog()}">
            <div ng-if="isLoginDialog()">
                <div class="row">
                    <div class="col-xs-5" ng-click="activeLogin($event)">
                        <a ng-class="{'active' : isLoginActiveInModal()}">Login</a>
                    </div>

                    <div class="col-xs-5" ng-click="activeRegister($event)">
                        <a ng-class="{'active' : !isLoginActiveInModal()}">Register</a>
                    </div>

                    <div class="col-xs-2">
                        <a class="close" ng-click="closeDialog()"><span class="glyphicon glyphicon glyphicon-remove-circle"></span> </a>
                    </div>
                </div>

                    <div class="row loginFormContainer" ng-class="{'registerActive' : !isLoginActiveInModal()}">
                        <div class="col-xs-12 response" ng-class="{'noHeight' : isServerResponseNotPresent()}">
                            <div class="alert" ng-class="{'alert-info' : isServerSuccess(), 'alert-danger' : isServerError()}">{{serverResponse}}</div>
                        </div>

                        <div class="col-xs-12" ng-class="{'noHeight' : isLoginActiveInModal()}">
                            <label class="control-label">Name</label>
                            <input type="text" ng-model="user.name" class="form-control"/>
                        </div>

                        <div class="col-xs-12">
                            <label class="control-label">E-mail Address</label>
                            <input type="text" ng-model="user.email" class="form-control"/>
                        </div>

                        <div class="col-xs-12">
                            <label class="control-label">Password</label>
                            <input type="password" ng-model="user.password" class="form-control"/>
                        </div>

                        <div class="col-xs-12" ng-class="{'noHeight' : isLoginActiveInModal()}">
                            <label class="control-label">Contact</label>
                            <input type="text" ng-model="user.contact" class="form-control"/>
                        </div>

                        <div class="col-xs-12 tMar10p autoHeight">
                            <div class="loginButtonContainer">
                                <div class="loginButtonWrapper" ng-class="{'marLeft100p' : !isLoginActiveInModal()}">
                                    <button type="button" class="btn btn-tw-primary" ng-click="login()">Login</button>
                                    <button type="button" class="btn btn-tw-primary" ng-click="register()">Register</button>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
            <div ng-if="!isLoginDialog()">
                <div class="row">
                    <div class="col-xs-12">
                        {{selectedCombo}}
                    </div>
                </div>
            </div>
        </div>

        <div id="loader">
            <div class="circleOne"></div>
            <div class="circleTwo"></div>
            <div class="circleThree"></div>
        </div>
    </div>
</body>
</html>
