<div class="box">
    <div class="boxImageContainer" style="height:250px; overflow:hidden;"><img style="max-width:100%;" src="{{getImageUrl(item)}}"
                                        ng-class="{'containAll' : itemDoesNotHasImage(item)}"/></div>
    <div ng-if="doesItemHasPrice()" class="boxPriceContainer">&#8377; {{getPrice( item )}}</div>
    <div class="boxNameContainer">{{item.name}}</div>
    <div ng-if="doesItemHasPrice()" ng-class="{'noHeight' : isCartActive()}" class="addToCart"
         ng-click="activateCart()"><span class="glyphicon glyphicon-shopping-cart"></span>Add To Cart
    </div>

    <div ng-class="{'noHeight' : !isCartActive()}" class="cart">
        <div class="row">
            <div class="col-xs-4 quantityText">
                Qty
            </div>

            <div class="col-xs-6">
                <div custom-input value="item.qty"></div>
            </div>
        </div>

        <button type="button" ng-click="addToCart( item )" class="btn-block btn btn-tw-primary">Add To Cart</button>
    </div>
    <div ng-if="!doesItemHasPrice()" ng-click="openCategory(item)" class="addToCart">View All Items</div>
</div>
