<div class="boxWrapper" ng-swipe-left="next()" ng-swipe-right="previous()">
    <div class="boxContainer" style="width: {{getWidthInPercentageForContainer()}}">
        <div class="box" style="width : {{ getWidthForBox()}}; margin-left:{{getMarginForBox($index)}}" ng-repeat="item in items">
            <div class="boxImageContainer" style="height : 250px; overflow:hidden; box-shadow : 0px 1px 8px #7d7878"><img src="{{getImageUrl(item)}}" style="display: block; margin : 0 auto; max-width:100%;ng-class="{'containAll' : itemDoesNotHasImage(item)}"/></div>
            <div ng-if="doesItemHasPrice()" class="boxPriceContainer">&#8377; {{getPrice( item )}}</div>
            <div class="boxNameContainer">{{item.name}}</div>
            <div ng-if="doesItemHasPrice()" ng-class="{'noHeight' : isCartActive(item)}" class="addToCart" ng-click="activateCart(item)"><span class="glyphicon glyphicon-shopping-cart"></span>Add To Cart
            </div>

            <div ng-class="{'noHeight' : !isCartActive(item)}" class="cart">
                <div class="row">
                    <div class="col-xs-4 quantityText">
                        Qty
                    </div>

                    <div class="col-xs-6">
                        <div custom-input value="item.qty"></div>
                    </div>
                </div>

                <button type="button" ng-click="addToCart( item )" class="btn-block btn btn-tw-primary">Add To Cart</button>
            </div>
            <div ng-if="!doesItemHasPrice()" ng-click="openCategory(item)" class="addToCart">View All Items</div>
        </div>
    </div>
</div>
