<style>
.backImg{
        background: url("http://images.fineartamerica.com/images-medium-large/panoramic-fireworks-ron-watts.jpg") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height : auto; 
        min-height : 200px;
}
.darker {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 3;
    background-color: rgba(0,0,0,.3);
    
}
</style>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 headingBack backImg">
        	<div class="darker">
	            <div class="heading">
	                <div style="color : #fff; font-size : 24px; font-weight : 100">An Online Festival Shopping Point</div>
	                <div style="color : #fff; font-size : 22px; font-weight : 100">Buy crackers and get delivery within 4 hours</div>
	                
	                <div style="color : #fff; font-size : 20px; font-weight : 100">Only in Bhilai-Durg-Raipur</div>
	            </div>
	         </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2">
            <div ng-if="combos.length > 0">
                <div class="contentContainer">
                    <div class="sectionHeading">Combos</div>
                </div>

                <div class="visible-xs">
                    <div class="tMar15p">
                        <div tri-slider items="combos" has-price="true" type="combo"></div>
                    </div>
                </div>

                <div class="visible-sm visible-md visible-lg">
                    <div class="tMar15p">
                        <div class="row">

                            <div class="col-sm-4 desktopBox" ng-repeat="combo in combos">
                                <div box item="combo" has-price="true" type="combo">

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div ng-if="categories.length > 0">
                <div class="contentContainer">
                    <div class="sectionHeading">Categories</div>
                </div>

                <div class="visible-xs">
                    <div class="tMar15p">
                        <div tri-slider items="categories"></div>
                    </div>
                </div>

                <div class="visible-sm visible-md visible-lg">
                    <div class="tMar15p">
                        <div class="row">

                            <div class="col-sm-4 desktopBox" ng-repeat="category in categories">
                                <div box item="category">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="tMar15p">
                    <button type="button" ng-click="showAllCategory()" class="btn btn-block btn-tw-primary strip">View All Categories</button>
                </div>
            </div>
        </div>
    </div>
</div>
