<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2" ng-repeat="category in categories">
            <div class="contentContainer">
                <div class="sectionHeading" ng-bind="category.name"></div>
            </div>

            <div class="visible-xs">
                <div class="tMar15p">
                    <div tri-slider items="category.items" has-price="true"></div>
                </div>
            </div>

            <div class="visible-sm visible-md visible-lg">
                <div class="tMar15p">
                    <div class="row">
                        <div class="col-sm-4 desktopBox" ng-repeat="category in category.items">
                            <div box item="category" has-price="true"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>