<div class="container-fluid">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">

        <div class="row">
            <div class="col-xs-12 col-sm-8">
                <div class="contentContainer">
                    <div class="heading">
                        Your Cart
                    </div>

                    <div ng-if="cart.itemsCount > 0" class="tMar13p" >
                        <div class="alert alert-info" style="height : auto">
                            Have a Promo Code ?
                            <div class="row">
                                <div class="col-xs-8">
                                    <input ng-model="cart.promo.code" type="text" class="form-control"/>
                                </div>

                                <div class="col-xs-4">
                                    <button type="button" class="btn btn-tw-primary btn-block" ng-click="isPromoCodeValid()">Apply</button>
                                </div>

                                <diiv class="col-xs-12" ng-if="promoResponse">
                                    <div ng-if="promoError" style="color : red;">Promo Code is invalid.</div>
                                    <div ng-if="promoSuccess">You will receive discount of {{ cart.promo.discount + '%'}}</div>
                                </diiv>
                            </div>
                        </div>
                    </div>

                    <div ng-if="cart.itemsCount > 0">
                        <div ng-if="cart.combos.items.length > 0">
                            <div class="subHeading">
                                Combos
                            </div>

                            <div class="row cartDes">
                                <div class="col-xs-4 heading">Item</div>
                                <div class="col-xs-4 heading">Qty</div>
                                <div class="col-xs-4 heading">Price</div>
                            </div>

                            <div class="row" ng-repeat="combo in cart.combos.items">
                                <div class="col-xs-4 cartCell" class="itemName">{{combo.name}}</div>
                                <div class="col-xs-4 checkoutRow"><div custom-input value="combo.qty"></div></div>
                                <div class="col-xs-4 cartCell" class="itemPrice">{{combo.totalPrice}}</div>
                            </div>
                        </div>

                        <div ng-if="cart.categories.items.length > 0">
                            <div ng-repeat="category in cart.categories.items">

                                <div class="subHeading">
                                    {{category.name}}
                                </div>

                                <div class="row cartDes">
                                    <div class="col-xs-4 heading">Item</div>
                                    <div class="col-xs-4 heading">Qty</div>
                                    <div class="col-xs-4 heading">Price</div>
                                </div>

                                <div class="row" ng-repeat="categoryItem in category.items">
                                    <div class="col-xs-4 cartCell" class="itemName">{{categoryItem.name}}</div>
                                    <div class="col-xs-4 checkoutRow"><div custom-input value="categoryItem.qty"></div></div>
                                    <div class="col-xs-4 cartCell" class="itemPrice">{{categoryItem.totalPrice}}</div>
                                </div>

                            </div>
                        </div>

                        <div>
                            <div class="row cartDes">
                                <div class="col-xs-12">
                                <div class="total">
                                <div class="col-xs-4 heading">Total</div>
                                <div class="col-xs-4 heading">{{cart.itemsCount}}</div>
                                <div class="col-xs-4 heading">
                                    {{cart.totalPrice}}
                                    <span ng-if="isPromoCodeApplied">
                                        <br/>
                                        Discount  = {{'-' + ( cart.totalPrice * cart.promo.discount / 100 ) }}
                                        <br/>
                                        Net Price = {{ cart.promo.net }}
                                    </span>
                                </div>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div ng-if="cart.itemsCount == 0">
                        <div class="alert alert-warning alone">
                            You Cart is empty. Please put something in first.
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-4">
                <div class="contentContainer">

                    <div class="heading">Checkout Information</div>

                    <div class="alert tMar13p bMar0" ng-class="getClassForAlert()">
                        {{info}}
                    </div>

                    <div class="alert tMar13p bMar0 alert-info" style="height : auto">
                        Payment Mode

                        <div class="radio">
                            <label>
                                <input type="radio" name="optionsRadios" id="optionsRadios1" value="COD" checked>
                                Cash On Delivery
                            </label>
                        </div>
                    </div>

                    <div>
                        <label class="control-label">Name</label>
                        <input type="text" class="form-control" ng-model="checkout.name"/>

                        <div class="bg-danger" ng-class="{'noHeight' : !hasError('name')}">
                            {{getMessage('name')}}
                        </div>
                    </div>

                    <div>
                        <label class="control-label">E-mail</label>
                        <input type="text" class="form-control" ng-model="checkout.email"/>

                        <div class="bg-danger" ng-class="{'noHeight' : !hasError('email')}">
                            {{getMessage('email')}}
                        </div>
                    </div>

                    <div>
                        <label class="control-label">Contact</label>
                        <input type="text" class="form-control" ng-model="checkout.contact"/>

                        <div class="bg-danger" ng-class="{'noHeight' : !hasError('contact')}">
                            {{getMessage('contact')}}
                        </div>
                    </div>

                    <div>
                        <label class="control-label">Address</label>
                        <textarea type="text" class="form-control" ng-model="checkout.address" rows="6"></textarea>

                        <div class="bg-danger" ng-class="{'noHeight' : !hasError('address')}">
                            {{getMessage('address')}}
                        </div>
                    </div>

                    <div class="tMar15p">
                        <button type="button" ng-disabled="isPlaceOrderDisabled()" ng-click="placeOrder()" class="btn btn-tw-primary btn-block">Place Order</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>