<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-offset-2 col-sm-8">
            <div class="pageHeading">
                Your Orders
            </div>

            <div class="alert alert-info" ng-if="orders.length == 0">You haven't ordered anything till now.</div>

            <div ng-if="orders.length > 0 ">
            <div class="contentContainer" ng-repeat="order in orders">
                <div class="row">
                    <div class="col-sm-6 col-xs-12 orderId">
                        ID : {{order.order_id}}
                    </div>

                    <div class="col-xs-12 col-sm-3 tPad6">
                        {{order.total_items}} items For <span>&#8377;</span> {{order.total_price}}
                    </div>

                    <div class="col-xs-12 col-sm-3  tPad6">
                        {{order.delivered ? 'Delivered' : 'Delivery Pending'}}
                    </div>

                    <div class="col-xs-12 tPad6">
                        {{getOrderItemString( order )}}
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>